.navbar, .dropdown-menu {
    background-color: black;
}

.nav-link {
    color: gray;
}

.navbar-brand, .dropdown-item {
    color: white;
}

.navbar-brand
{
    font-weight: bold;
    color:white;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}
 
body {
    background-color: #001021;
    color: white;
}
