{% extends "base.html" %}
{% block title %} | Answer Quizzes{% endblock %}

{% block content %}
    <style>
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0,0,0,.05);
        }
        .table-striped tbody tr:hover {
            background-color: rgba(0,0,0,.075);
        }
        .table thead th, .table tbody td{
            background-color: #021d3a;
            color: #e5e5e5;
        }
        .table tbody td{
            background-color: #1C3351;
            color: #e5e5e5;
        }
        .table td, .table th {
            padding: 0.75rem;
            vertical-align: top;
            border-top:none;
            border-bottom: none;
        }
        .table a {
            color: inherit;
            text-decoration: none;
        }
        .table a:hover {
            text-decoration: underline;
        }
    </style>
    <h1>All quizzes on QuizMe</h1>

    <br>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Number of Items</th>
                <th>Answer Quiz</th>
                </tr>
            </thead>

            <tbody>
                {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.user.username }}</td>
                    <td>{{ quiz.total_items }}</td>
                    <td>
                        <a href="{{ url_for('quiz.answer_quiz', quiz_id=quiz.id, quiz_title=quiz.title) }}">Answer Quiz</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
